doctype html
html
  head
    block title
      title Book Lovers 
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")

  body
    block header
      header
        nav(class="navbar navbar-expand-lg")
          div.container
            h1.fs-1.text-center Book Lovers
    block content
    script(src="/javascripts/bootstrap.bundle.min.js")